@inherits LayoutComponentBase

<PageTitle>StravaClubStatsBlazorServerApp</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <header>
            <NavMenu />
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @Body
            </main>
        </div>
    </main>
</div>
