<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="">Strava Club Stats App</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" style="@FloatTop" href="/clubactivities/clubActivitiessummary">
                        <span class="oi oi-plus" aria-hidden="true"></span> Summary
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" style="@FloatTop" href="/clubactivities/clubActivitiesdrilldown">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Drilldown
                    </NavLink>
                </li>
                <li class="nav-item" style="float:right">
                    <NavLink class="nav-link text-dark" style="@FloatTop" href="/about">
                        <span class="oi oi-info" aria-hidden="true"></span> About
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    private string AddTopPadding = "padding-top: 41px;";

    private string? NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    private string? FloatTop => collapseNavMenu ? AddTopPadding : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
