@inject IMediator Mediator;

<h1>Club Stats For Year</h1>

@if (!ClubStatsForYears.Any() && !IsInvalidClubStatsForYear)
{
    <p><em>Loading...</em></p>
}
else if (IsInvalidClubStatsForYear)
{
    <ErrorMessage Error="@ErrorMessage" />
}
else
{
    <MudDataGrid T="StravaClubStatsForYear" MultiSelection="true" Items="ClubStatsForYears" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="quickFilter"
                 Hideable="true">
        <ToolBarContent>
            <MudSpacer />

            <FilterComponents @bind-Cyclist="@SearchText"
                              Cyclists="Cyclists"
                              IsSmall="IsSmall" />

        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Cyclist" Title="Cyclist" />
            <PropertyColumn Property="x => x.Rides" Title="Rides" />
            <PropertyColumn Property="x => x.Time" Title="Time" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.Distance)" CellStyleFunc="x => GetDoneColour(x.Distance, x.DistanceTarget, x.DistanceTargetForCurrentWeek)" Title="Distance (KMs)" SortBy="x => x.Distance" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.ElevationGain)" Title="Elevation Gain (metres)" SortBy="x => x.ElevationGain" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.DistanceTarget)" Title="Distance Target (KMs)" SortBy="x => x.DistanceTarget" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.DistanceLeftToDo)" Title="Distance Left to Do (KMs)" SortBy="x => x.DistanceLeftToDo" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.DistanceTargetForCurrentWeek)" Title="Distance Target for Current Week (KMs)" SortBy="x => x.DistanceTargetForCurrentWeek" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageDistanceToDoPerWeek)" Title="Average Distance To Do Per Week (KMs)" SortBy="x => x.AverageDistanceToDoPerWeek" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageDistanceDonePerWeek)" CellStyleFunc="x => GetAverageDoneColour(x.AverageDistanceDonePerWeek, x.AverageDistanceToDoPerWeek)" Title="Average Distance Done Per Week (KMs)" SortBy="x => x.AverageDistanceDonePerWeek" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageDistanceLeftToDoPerWeek)" CellStyleFunc="x => GetAverageLeftToDoColour(x.AverageDistanceLeftToDoPerWeek, x.AverageDistanceToDoPerWeek)" Title="Average Distance Left To Do Per Week (KMs)" SortBy="x => x.AverageDistanceLeftToDoPerWeek" />
        </Columns>
    </MudDataGrid>
}