@page "/about"

<h1>About</h1>

<div>
    <p class="about-text">
        This is a simple strava club stats app which displays information about a given club.  It displays information consisting of:
    </p>

    <ul>
        <li>Club Activities Summary</li>
        <li>Club Activities Drilldown</li>
    </ul>


    <ul>
        <li>The app is Developed using Blazor Server/.Net 6 and utilises the Strava API v3</li>
    </ul>
</div>
