@page "/about"

<h1>About</h1>

<div class="about-text">
    <p>
        This is a simple strava club stats Blazor Server app which displays information about a given club.  It displays information consisting of:
    </p>

    <ul>
        <li>Club Stata for Year</li>
        <li>Recent Club Activities Summary</li>
        <li>Recent Club Activities Drilldown</li>
    </ul>

    <p>
        The app is Developed using Blazor Server/.Net 8 and utilises the Strava API v3.
    </p>
</div>
