@page "/"

<div style="padding-bottom: 20px">
    <span style="margin-left: 10px" class="h1">Strava Club Stats Blazor Server App</span>
</div>

<ul style="font-size: 18px">
    <li><a href="clubActivitiessummary">Club Activities Summary</a></li>
</ul>
 