@page "/clubactivities/clubActivitiesdrilldown"

@inject IMediator Mediator;

<h1>Club Activities Drilldown</h1>

@if (!ClubActivities.Any() && !IsInvalidClubActivities)
{
    <p><em>Loading...</em></p>
}
else if (IsInvalidClubActivities)
{
    <ErrorMessage Error="@ErrorMessage" />
}
else
{
    <MudDataGrid T="Activity" MultiSelection="true" Items="ClubActivities" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="quickFilter"
        Hideable="true">
        <ToolBarContent>
            <MudSpacer />

            <CyclistTextBox @bind-Cyclist="SearchText" />
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.AthleteFirstName" Title="First Name" />
            <PropertyColumn Property="x => x.AthleteLastName" Title="Last Name" />
            <PropertyColumn Property="x => x.ActivityName" Title="Activity Name" />
            <PropertyColumn Property="x => x.SportType" Title="Sport Type" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.DistanceInKilometers)" Title="Distance (KMs)" SortBy="x => x.DistanceInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.ElapsedTimeInHours)" Title="Elapsed Time (Hours)" SortBy="x => x.ElapsedTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.MovingTimeInHours)" Title="Moving Time (Hours)" SortBy="x => x.MovingTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalElevationGainInKilometers)" Title="Elevation Gain (KMs)" SortBy="x => x.TotalElevationGainInKilometers" />
        </Columns>
    </MudDataGrid>
}