@page "/clubactivities/clubActivitiessummary"

@inject IMediator Mediator;

<h1>Club Activities Summary</h1>

@if (!ClubActivitiesSummaries.Any()  && !IsInvalidClubActivities)
{
    <p><em>Loading...</em></p>
}
else if(IsInvalidClubActivities)
{
    <ErrorMessage Error="@ErrorMessage" />
}
else
{
    <MudDataGrid T="ActivitiesSummary" MultiSelection="true" Items="ClubActivitiesSummaries" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="quickFilter"
             Hideable="true">
        <ToolBarContent>
            <MudSpacer />

            @if (IsSmall)
            {
                <CyclistDropdown Cyclists="Cyclists"
                                 @bind-Cyclist="SearchText" />
            }
            else
            {
                <CyclistTextBox @bind-Cyclist="SearchText" />
            }

        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.AthleteFirstName" Title="First Name" />
            <PropertyColumn Property="x => x.AthleteLastName" Title="Last Name" />
            <PropertyColumn Property="x => x.TotalNumberOfRides" Title="Total Number of Rides" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalDistanceInKilometers)" Title="Distance (KMs)" SortBy="x => x.TotalDistanceInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.LongestRideInKilometers)" Title="Longest Ride (KMs)" SortBy="x => x.LongestRideInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalElapsedTimeInHours)" Title="Elapsed Time (Hours)" SortBy="x => x.TotalElapsedTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalMovingTimeInHours)" Title="Moving Time (Hours)" SortBy="x => x.TotalMovingTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalElevationGainInKilometers)" Title="Elevation Gain (KMs)" SortBy="x => x.TotalElevationGainInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageDistancePerRideInKilometers)" Title="Average Distance per Ride (KMs)" SortBy="x => x.AverageDistancePerRideInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageElapsedTimeInHours)" Title="Average Elapsed Time per Ride (Hours)" SortBy="x => x.AverageElapsedTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageMovingTimeInHours)" Title="Average Moving Time per Ride (Hours)" SortBy="x => x.AverageMovingTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageElevationGainInKilometers)" Title="Average Elevation Gain per Ride (KMs)" SortBy="x => x.AverageElevationGainInKilometers" />
        </Columns>
    </MudDataGrid>
}

<MediaQuery Media="@BlazorPro.BlazorSize.Breakpoints.SmallDown" @bind-Matches="IsSmall" />