@page "/clubactivities/clubActivitiesdrilldown"

@inject IMediator Mediator;

<h1>Club Activities Drilldown</h1>

@if (clubActivities == null && !isInvalidClubActivities)
{
    <p><em>Loading...</em></p>
}
else if (isInvalidClubActivities)
{
    <ErrorMessage Error="@errorMessage" />
}
else
{
    <MudDataGrid T="Activity" MultiSelection="true" Items="@clubActivities" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@quickFilter"
        Hideable="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Club Activities Drilldown</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.AthleteFirstName" Title="First Name" />
            <PropertyColumn Property="x => x.AthleteLastName" Title="Last Name" />
            <PropertyColumn Property="x => x.ActivityName" Title="Activity Name" />
            <PropertyColumn Property="x => x.SportType" Title="Sport Type" />
            <PropertyColumn Property="x => x.DistanceInKilometers" Title="Distance (KMs)" />
            <PropertyColumn Property="x => x.ElapsedTimeInHours" Title="Elapsed Time (Hours)" />
            <PropertyColumn Property="x => x.MovingTimeInHours" Title="Moving Time (Hours)" />
            <PropertyColumn Property="x => x.TotalElevationGainInKilometers" Title="Elevation Gain (KMs)" />
        </Columns>
    </MudDataGrid>
}
