@page "/clubactivities/clubActivitiessummary"

@inject IMediator Mediator;

<h1>Club Activities Summary</h1>

@if (clubActivitiesSummaries == null  && !isInvalidClubActivities)
{
    <p><em>Loading...</em></p>
}
else if(isInvalidClubActivities)
{
    <ErrorMessage Error="@errorMessage" />
}
else
{
    <MudDataGrid T="ActivitiesSummary" MultiSelection="true" Items="clubActivitiesSummaries" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="quickFilter"
             Hideable="true">
        <ToolBarContent>
            <MudSpacer />
            <MudTextField @bind-Value="searchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.AthleteFirstName" Title="First Name" />
            <PropertyColumn Property="x => x.AthleteLastName" Title="Last Name" />
            <PropertyColumn Property="x => x.TotalNumberOfRides" Title="Total Number of Rides" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalDistanceInKilometers)" Title="Distance (KMs)" SortBy="x => x.TotalDistanceInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.LongestRideInKilometers)" Title="Longest Ride (KMs)" SortBy="x => x.LongestRideInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalElapsedTimeInHours)" Title="Elapsed Time (Hours)" SortBy="x => x.TotalElapsedTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalMovingTimeInHours)" Title="Moving Time (Hours)" SortBy="x => x.TotalMovingTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.TotalElevationGainInKilometers)" Title="Elevation Gain (KMs)" SortBy="x => x.TotalElevationGainInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageDistancePerRideInKilometers)" Title="Average Distance per Ride (KMs)" SortBy="x => x.AverageDistancePerRideInKilometers" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageElapsedTimeInHours)" Title="Average Elapsed Time per Ride (Hours)" SortBy="x => x.AverageElapsedTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageMovingTimeInHours)" Title="Average Moving Time per Ride (Hours)" SortBy="x => x.AverageMovingTimeInHours" />
            <PropertyColumn Property="x => ConvertTo2DecimalPlaces(x.AverageElevationGainInKilometers)" Title="Average Elevation Gain per Ride (KMs)" SortBy="x => x.AverageElevationGainInKilometers" />
        </Columns>
    </MudDataGrid>
}